<form [formGroup]="form">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Kamp Inligting</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label position="stacked">Provinsie</ion-label>
      <ion-select formControlName="kampProvinsie" placeholder="Kies provinsie">
        <ion-select-option
          *ngFor="let province of provinces"
          [value]="province"
        >
          {{ province }}
        </ion-select-option>
      </ion-select>
      <ion-text color="danger" *ngIf="isFieldInvalid('kampProvinsie')">
        {{ getErrorMessage("kampProvinsie") }}
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Kamp Naam</ion-label>
      <ion-input
        formControlName="kampNaam"
        type="text"
        placeholder="Voer kamp naam in"
      ></ion-input>
      <ion-text color="danger" *ngIf="isFieldInvalid('kampNaam')">
        {{ getErrorMessage("kampNaam") }}
      </ion-text>
    </ion-item>

    <ion-item button detail="false" (click)="openDate($event)">
      <ion-label>Datum in Kamp</ion-label>
      <ion-datetime-button slot="end" datetime="kampDate"></ion-datetime-button>
      <ion-text color="danger" *ngIf="isFieldInvalid('datumInKamp')">
        {{ getErrorMessage("datumInKamp") }}
      </ion-text>
    </ion-item>

    <ion-modal
      keepContentsMounted="true"
      [isOpen]="isDateOpen"
      (didDismiss)="isDateOpen = false"
    >
      <ng-template>
        <ion-datetime
          id="kampDate"
          presentation="date"
          [max]="today"
          formControlName="datumInKamp"
          (ionChange)="isDateOpen = false"
        ></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item-group>
</form>
