<form [formGroup]="form">
  <!-- Basic Address Information -->
  <ion-item>
    <ion-label position="stacked">Straat Adres</ion-label>
    <ion-input
      type="text"
      formControlName="straatAdres"
      [class.ion-invalid]="isFieldInvalid('straatAdres')"
      [class.ion-touched]="form.get('straatAdres')?.touched"
    ></ion-input>
    <ion-text color="danger" *ngIf="isFieldInvalid('straatAdres')">
      {{ getErrorMessage("straatAdres") }}
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Dorp</ion-label>
    <ion-input
      type="text"
      formControlName="voorstad"
      [class.ion-invalid]="isFieldInvalid('voorstad')"
      [class.ion-touched]="form.get('voorstad')?.touched"
    ></ion-input>
    <ion-text color="danger" *ngIf="isFieldInvalid('voorstad')">
      {{ getErrorMessage("voorstad") }}
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Provinsie</ion-label>
    <ion-select
      formControlName="provinsie"
      [class.ion-invalid]="isFieldInvalid('provinsie')"
      [class.ion-touched]="form.get('provinsie')?.touched"
      placeholder="Kies provinsie"
    >
      <ion-select-option value="Gauteng">Gauteng</ion-select-option>
      <ion-select-option value="KwaZulu-Natal">KwaZulu-Natal</ion-select-option>
      <ion-select-option value="Limpopo">Limpopo</ion-select-option>
      <ion-select-option value="Mpumalanga">Mpumalanga</ion-select-option>
      <ion-select-option value="Noord-Kaap">Noord-Kaap</ion-select-option>
      <ion-select-option value="Noordwes">Noordwes</ion-select-option>
      <ion-select-option value="Oos-Kaap">Oos-Kaap</ion-select-option>
      <ion-select-option value="Vrystaat">Vrystaat</ion-select-option>
      <ion-select-option value="Wes-Kaap">Wes-Kaap</ion-select-option>
    </ion-select>
    <ion-text color="danger" *ngIf="isFieldInvalid('provinsie')">
      {{ getErrorMessage("provinsie") }}
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Poskode</ion-label>
    <ion-input
      type="text"
      formControlName="posKode"
      maxlength="4"
      [class.ion-invalid]="isFieldInvalid('posKode')"
      [class.ion-touched]="form.get('posKode')?.touched"
    ></ion-input>
    <ion-text color="danger" *ngIf="isFieldInvalid('posKode')">
      {{ getErrorMessage("posKode") }}
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Woonagtig</ion-label>
    <ion-select
      formControlName="woonagtig"
      [class.ion-invalid]="isFieldInvalid('woonagtig')"
      [class.ion-touched]="form.get('woonagtig')?.touched"
    >
      <ion-select-option value="eienaar">Eienaar</ion-select-option>
      <ion-select-option value="huurder">Huurder</ion-select-option>
      <ion-select-option value="inwonend">Inwonend</ion-select-option>
      <ion-select-option value="ander">Ander</ion-select-option>
    </ion-select>
    <ion-text color="danger" *ngIf="isFieldInvalid('woonagtig')">
      {{ getErrorMessage("woonagtig") }}
    </ion-text>
  </ion-item>

  <!-- Naaste Dienste removed per requirements -->
</form>
