ion-segment {
  margin-bottom: 1rem;
}

ion-note {
  display: block;
  margin-top: 1rem;
  color: var(--ion-color-medium);
}

ion-note p {
  margin: 0.5rem 0;
}

ion-card-content {
  padding-top: 1rem;
}
