<form [formGroup]="form">
  <ion-item>
    <ion-label position="stacked">Van</ion-label>
    <ion-input
      type="text"
      formControlName="van"
      #vanInput
      inputmode="text"
      autocapitalize="words"
      [class.ion-invalid]="isFieldInvalid('van')"
      [class.ion-touched]="form.get('van')?.touched"
    ></ion-input>
    <ion-text color="danger" *ngIf="isFieldInvalid('van')">
      {{ getErrorMessage("van") }}
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Volle Naam</ion-label>
    <ion-input
      type="text"
      formControlName="noemNaam"
      inputmode="text"
      autocapitalize="words"
      [class.ion-invalid]="isFieldInvalid('noemNaam')"
      [class.ion-touched]="form.get('noemNaam')?.touched"
    ></ion-input>
    <ion-text color="danger" *ngIf="isFieldInvalid('noemNaam')">
      {{ getErrorMessage("noemNaam") }}
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Huistaal</ion-label>
    <ion-select
      formControlName="huistaal"
      [class.ion-invalid]="isFieldInvalid('huistaal')"
      [class.ion-touched]="form.get('huistaal')?.touched"
    >
      <ion-select-option value="afrikaans">Afrikaans</ion-select-option>
      <ion-select-option value="engels">Engels</ion-select-option>
      <ion-select-option value="ander">Ander</ion-select-option>
    </ion-select>
    <ion-text color="danger" *ngIf="isFieldInvalid('huistaal')">
      {{ getErrorMessage("huistaal") }}
    </ion-text>
  </ion-item>

  <ion-item *ngIf="form.get('huistaal')?.value === 'ander'">
    <ion-label position="stacked">Spesifiseer Huistaal</ion-label>
    <ion-input
      type="text"
      formControlName="huistaalAnder"
      autocapitalize="words"
      #huistaalAnderInput
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">ID Nommer</ion-label>
    <ion-input
      type="text"
      formControlName="idNommer"
      maxlength="13"
      [class.ion-invalid]="isFieldInvalid('idNommer')"
      [class.ion-touched]="form.get('idNommer')?.touched"
    ></ion-input>
    <ion-text color="danger" *ngIf="isFieldInvalid('idNommer')">
      {{ getErrorMessage("idNommer") }}
    </ion-text>
  </ion-item>

  @if (idNommerValid) {
    <ion-item>
      <ion-label position="stacked">Geboortedatum</ion-label>
      <ion-input
        type="date"
        formControlName="geboorteDatum"
        readonly
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ouderdom</ion-label>
      <ion-input
        type="number"
        formControlName="ouderdom"
        readonly
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Geslag</ion-label>
      <ion-input [value]="geslagLabel" readonly></ion-input>
    </ion-item>
  }

  <ion-item>
    <ion-label position="stacked">Selfoon Nommer</ion-label>
    <ion-input
      type="tel"
      formControlName="cellNommer"
      [class.ion-invalid]="isFieldInvalid('cellNommer')"
      [class.ion-touched]="form.get('cellNommer')?.touched"
    ></ion-input>
    <ion-text color="danger" *ngIf="isFieldInvalid('cellNommer')">
      {{ getErrorMessage("cellNommer") }}
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">E-pos Adres</ion-label>
    <ion-input
      type="email"
      formControlName="email"
      [class.ion-invalid]="isFieldInvalid('email')"
      [class.ion-touched]="form.get('email')?.touched"
    ></ion-input>
    <ion-text color="danger" *ngIf="isFieldInvalid('email')">
      {{ getErrorMessage("email") }}
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Huwelikstatus</ion-label>
    <ion-select
      formControlName="huwelikStatus"
      [class.ion-invalid]="isFieldInvalid('huwelikStatus')"
      [class.ion-touched]="form.get('huwelikStatus')?.touched"
    >
      <ion-select-option value="ongetroud">Ongetroud</ion-select-option>
      <ion-select-option value="getroud">Getroud</ion-select-option>
      <ion-select-option value="geskei">Geskei</ion-select-option>
      <ion-select-option value="verloof">Verloof</ion-select-option>
      <ion-select-option value="weduwee">Weduwee/Wewenaar</ion-select-option>
    </ion-select>
    <ion-text color="danger" *ngIf="isFieldInvalid('huwelikStatus')">
      {{ getErrorMessage("huwelikStatus") }}
    </ion-text>
  </ion-item>

  <ion-item-divider>
    <ion-label>Adres Inligting</ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label position="stacked">Straat Adres</ion-label>
    <ion-input
      type="text"
      formControlName="straatAdres"
      autocapitalize="words"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Dorp</ion-label>
    <ion-input
      type="text"
      formControlName="voorstad"
      autocapitalize="words"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Provinsie</ion-label>
    <ion-select formControlName="provinsie" placeholder="Kies provinsie">
      <ion-select-option value="Gauteng">Gauteng</ion-select-option>
      <ion-select-option value="KwaZulu-Natal">KwaZulu-Natal</ion-select-option>
      <ion-select-option value="Limpopo">Limpopo</ion-select-option>
      <ion-select-option value="Mpumalanga">Mpumalanga</ion-select-option>
      <ion-select-option value="Noord-Kaap">Noord-Kaap</ion-select-option>
      <ion-select-option value="Noordwes">Noordwes</ion-select-option>
      <ion-select-option value="Oos-Kaap">Oos-Kaap</ion-select-option>
      <ion-select-option value="Vrystaat">Vrystaat</ion-select-option>
      <ion-select-option value="Wes-Kaap">Wes-Kaap</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Poskode</ion-label>
    <ion-input
      type="text"
      formControlName="posKode"
      maxlength="4"
      inputmode="numeric"
      [class.ion-invalid]="isFieldInvalid('posKode')"
      [class.ion-touched]="form.get('posKode')?.touched"
    ></ion-input>
    <ion-text color="danger" *ngIf="isFieldInvalid('posKode')">
      {{ getErrorMessage("posKode") }}
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Woonagtig</ion-label>
    <ion-select formControlName="woonagtig">
      <ion-select-option value="eienaar">Eienaar</ion-select-option>
      <ion-select-option value="huurder">Huurder</ion-select-option>
      <ion-select-option value="inwonend">Inwonend</ion-select-option>
      <ion-select-option value="ander">Ander</ion-select-option>
    </ion-select>
  </ion-item>
</form>
