<form [formGroup]="form">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Ander Inligting</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label position="stacked">Addisionele Notas</ion-label>
      <ion-textarea
        formControlName="addisioneleNotas"
        placeholder="Enige addisionele inligting wat u wil deel"
        [autoGrow]="true"
      ></ion-textarea>
      <div class="helper-text">
        Voeg enige bykomende inligting by wat u dink belangrik is
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Spesiale Vaardighede</ion-label>
      <ion-textarea
        formControlName="spesialeVaardighede"
        placeholder="Beskryf enige spesiale vaardighede wat u het"
        [autoGrow]="true"
      ></ion-textarea>
      <div class="helper-text">
        Byvoorbeeld: sweiswerk, loodgieterswerk, elektriese werk, ens.
      </div>
    </ion-item>
  </ion-item-group>
</form>
