<form [formGroup]="form">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Ander Inligting</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label position="stacked">Addisionele Notas</ion-label>
      <ion-textarea
        formControlName="addisioneleNotas"
        placeholder="Enige addisionele inligting wat u wil deel"
        [autoGrow]="true"
      ></ion-textarea>
      <div class="helper-text">
        Voeg enige bykomende inligting by wat u dink belangrik is
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Spesiale Vaardighede</ion-label>
      <ion-textarea
        formControlName="spesialeVaardighede"
        placeholder="Beskryf enige spesiale vaardighede wat u het"
        [autoGrow]="true"
      ></ion-textarea>
      <div class="helper-text">
        Byvoorbeeld: sweiswerk, loodgieterswerk, elektriese werk, ens.
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Belangstellings</ion-label>
      <ion-textarea
        formControlName="belangstellings"
        placeholder="Wat is u stokperdjies of belangstellings?"
        [autoGrow]="true"
      ></ion-textarea>
      <div class="helper-text">
        Beskryf u stokperdjies en belangstellings wat waardevol kan wees vir die gemeenskap
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Beskikbaarheid</ion-label>
      <ion-textarea
        formControlName="beskikbaarheid"
        placeholder="Wanneer is u beskikbaar vir gemeenskapswerk?"
        [autoGrow]="true"
      ></ion-textarea>
      <div class="helper-text">
        Spesifiseer watter dae en tye u beskikbaar is vir gemeenskapswerk
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Vrywilliger Werk</ion-label>
      <ion-textarea
        formControlName="vrywilligerWerk"
        placeholder="Watter tipe vrywilliger werk stel u belang in?"
        [autoGrow]="true"
      ></ion-textarea>
      <div class="helper-text">
        Beskryf watter tipe gemeenskapswerk u graag wil doen
      </div>
    </ion-item>
  </ion-item-group>
</form> 