<form [formGroup]="form">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Dokumente</ion-label>
    </ion-item-divider>

    <!-- ID Document -->
    <ion-item>
      <div class="stack">
        <div
          class="file-list"
          *ngIf="(form.get('idDokument')?.value || []).length as count"
        >
          <div class="file-rows">
            <div
              class="file-row"
              *ngFor="let file of form.get('idDokument')?.value; let i = index"
            >
              <ion-icon name="document-outline"></ion-icon>
              <div class="file-name">{{ file.name }}</div>
              <ion-note color="medium">{{
                formatFileSize(file.size)
              }}</ion-note>
              <ion-button
                fill="clear"
                size="small"
                class="file-actions"
                (click)="removeFile('idDokument', i)"
              >
                <ion-icon name="close-circle" color="danger"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
        <div class="uploader">
          <ion-button
            class="upload-button"
            expand="block"
            fill="outline"
            (click)="openChooser('idDokument')"
          >
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Laai ID Dokument
          </ion-button>
          <div class="helper-text">PDF, JPG, of PNG, maksimum 10MB</div>
        </div>
        <input
          #fileInput
          type="file"
          class="file-input"
          [accept]="acceptedFileTypes"
          (change)="onFileSelected($event, 'idDokument')"
        />
      </div>
    </ion-item>

    <!-- Driver's License -->
    <ion-item>
      <div class="stack">
        <div
          class="file-list"
          *ngIf="(form.get('bestuurslisensie')?.value || []).length as count"
        >
          <div class="file-rows">
            <div
              class="file-row"
              *ngFor="
                let file of form.get('bestuurslisensie')?.value;
                let i = index
              "
            >
              <ion-icon name="document-outline"></ion-icon>
              <div class="file-name">{{ file.name }}</div>
              <ion-note color="medium">{{
                formatFileSize(file.size)
              }}</ion-note>
              <ion-button
                fill="clear"
                size="small"
                class="file-actions"
                (click)="removeFile('bestuurslisensie', i)"
              >
                <ion-icon name="close-circle" color="danger"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
        <div class="uploader">
          <ion-button
            class="upload-button"
            expand="block"
            fill="outline"
            (click)="openChooser('bestuurslisensie')"
          >
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Laai Bestuurslisensie
          </ion-button>
          <div class="helper-text">PDF, JPG, of PNG, maksimum 10MB</div>
        </div>
        <input
          #licenseInput
          type="file"
          class="file-input"
          [accept]="acceptedFileTypes"
          (change)="onFileSelected($event, 'bestuurslisensie')"
        />
      </div>
    </ion-item>

    <!-- Firearm License -->
    <ion-item>
      <div class="stack">
        <div
          class="file-list"
          *ngIf="(form.get('vuurwapenlisensie')?.value || []).length as count"
        >
          <div class="file-rows">
            <div
              class="file-row"
              *ngFor="
                let file of form.get('vuurwapenlisensie')?.value;
                let i = index
              "
            >
              <ion-icon name="document-outline"></ion-icon>
              <div class="file-name">{{ file.name }}</div>
              <ion-note color="medium">{{
                formatFileSize(file.size)
              }}</ion-note>
              <ion-button
                fill="clear"
                size="small"
                class="file-actions"
                (click)="removeFile('vuurwapenlisensie', i)"
              >
                <ion-icon name="close-circle" color="danger"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
        <div class="uploader">
          <ion-button
            class="upload-button"
            expand="block"
            fill="outline"
            (click)="openChooser('vuurwapenlisensie')"
          >
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Laai Vuurwapenlisensie
          </ion-button>
          <div class="helper-text">PDF, JPG, of PNG, maksimum 10MB</div>
        </div>
        <input
          #firearmInput
          type="file"
          class="file-input"
          [accept]="acceptedFileTypes"
          (change)="onFileSelected($event, 'vuurwapenlisensie')"
        />
      </div>
    </ion-item>

    <!-- First Aid Certificate -->
    <ion-item>
      <div class="stack">
        <div
          class="file-list"
          *ngIf="(form.get('ehboSertifikaat')?.value || []).length as count"
        >
          <div class="file-rows">
            <div
              class="file-row"
              *ngFor="
                let file of form.get('ehboSertifikaat')?.value;
                let i = index
              "
            >
              <ion-icon name="document-outline"></ion-icon>
              <div class="file-name">{{ file.name }}</div>
              <ion-note color="medium">{{
                formatFileSize(file.size)
              }}</ion-note>
              <ion-button
                fill="clear"
                size="small"
                class="file-actions"
                (click)="removeFile('ehboSertifikaat', i)"
              >
                <ion-icon name="close-circle" color="danger"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
        <div class="uploader">
          <ion-button
            class="upload-button"
            expand="block"
            fill="outline"
            (click)="openChooser('ehboSertifikaat')"
          >
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Laai EHBO Sertifikaat
          </ion-button>
          <div class="helper-text">PDF, JPG, of PNG, maksimum 10MB</div>
        </div>
        <input
          #ehboInput
          type="file"
          class="file-input"
          [accept]="acceptedFileTypes"
          (change)="onFileSelected($event, 'ehboSertifikaat')"
        />
      </div>
    </ion-item>

    <!-- Other Documents -->
    <ion-item>
      <div class="stack">
        <div class="file-list" *ngIf="form.get('ander')?.value as files">
          <div class="file-rows">
            <div class="file-row" *ngFor="let file of files; let i = index">
              <ion-icon name="document-outline"></ion-icon>
              <div class="file-name">{{ file.name }}</div>
              <ion-note color="medium">{{
                formatFileSize(file.size)
              }}</ion-note>
              <ion-button
                fill="clear"
                size="small"
                class="file-actions"
                (click)="removeFile('ander', i)"
              >
                <ion-icon name="close-circle" color="danger"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
        <div class="uploader">
          <ion-button
            class="upload-button"
            expand="block"
            fill="outline"
            (click)="openChooser('ander')"
          >
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Voeg Ander Dokumente By
          </ion-button>
          <div class="helper-text">PDF, JPG, of PNG, maksimum 10MB</div>
        </div>
        <input
          #otherInput
          type="file"
          class="file-input"
          [accept]="acceptedFileTypes"
          (change)="onFileSelected($event, 'ander')"
        />
      </div>
    </ion-item>

    <!-- Actions -->
    <ion-item>
      <ion-button
        expand="block"
        color="secondary"
        (click)="exportToDownloads()"
      >
        Exporteer Data
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block" color="tertiary" (click)="shareAll()">
        Deel Data
      </ion-button>
    </ion-item>
  </ion-item-group>
</form>
